.interest{
  width:60%;
  transform: rotate(-7deg);
  margin-left: 70px
}
.container-fluid{
    padding-top:100px;
    background-color:#0C84D2;
    padding-bottom :100px;
}
.navbar navbar-expand-lg navbar-light bg-light{
  background-color:#0C84D2;
}
.h11{
  font-weight: bold;
  Color:white;
  padding: 30px;
}
.baa{
  margin-left: 170px;
  margin-top: 50px;

}
.ba{
  margin-left: 50px;
  margin-top: 50px;
}
.navbar-brand{
  font-size: 2rem;
  font-weight: bold;
  font-style: oblique;
}
.fon{
font-family: 'Josefin Sans', sans-serif;
}
.down{
  padding-bottom: 100px
}
